@import url('https://fonts.googleapis.com/css?family=Fontdiner+Swanky');
@font-face {
    font-family: 'sweden_sansbold';
    src: url('fonts/swedensansbold-webfont.eot');
    src: url('fonts/swedensansbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/swedensansbold-webfont.woff2') format('woff2'),
    url('fonts/swedensansbold-webfont.woff') format('woff'),
    url('fonts/swedensansbold-webfont.ttf') format('truetype'),
    url('fonts/swedensansbold-webfont.svg#sweden_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sweden_sansregular';
    src: url('fonts/swedensans-webfont.eot');
    src: url('fonts/swedensans-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/swedensans-webfont.woff2') format('woff2'),
    url('fonts/swedensans-webfont.woff') format('woff'),
    url('fonts/swedensans-webfont.ttf') format('truetype'),
    url('fonts/swedensans-webfont.svg#sweden_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
    font-family: 'sweden_sansregular', Arial, sans-serif;
    margin-left: 15%;
}
ul{
    list-style-type: none;
}
ul li{
    margin-bottom: 5px;
    transition: 3s ease;
}
ul li:hover{
    margin-bottom: 15px;
}
li a{
    text-decoration: none;
    color: #112233;
    transition: font 1s ease;
}
li a:hover{
    color: darkblue;
    font-weight: 900;
    font-size: 22px;
}
@media screen and (max-device-width: 800px){
    body{
        font-size: 2em;
    }
}