/*
h1 	34px
	head 32px
	jumbo 40px
h2	24px
h3	22px
p
	jumbo 16px
*/
/*Fonts*/
@font-face {
	font-family: SourceSansPro;
	src: url('../fonts/source-sans-pro/SourceSansPro-Regular.otf');
}
@font-face {
	font-family: SourceSansPro-Bold;
	src: url('../fonts/source-sans-pro/SourceSansPro-Bold.otf');
	font-weight: bold;
}
@font-face {
	font-family: SourceSansPro-Light;
	src: url('../fonts/source-sans-pro/SourceSansPro-Light.otf');
	font-weight: 300;
}
@font-face {
	font-family: Lato-Regular;
	src: url('../fonts/lato/Lato-Regular.ttf');
}
/*Main*/
body{
	color:#637f83;
	font-family:SourceSansPro, sans-serif;
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	width:100%;
	line-height:1.5;
}
footer p{
	color:#fff;
}
header,#jumbotron,main,footer{
	flex: 1 100%;
}
h1{
	font-size:34px;
	font-family:SourceSansPro-Bold, sans-serif;
}
h2{
	font-size:24px;
	font-family:SourceSansPro-Light, sans-serif;
}
h3{
	font-size:22px;
	font-family:SourceSansPro-Bold, sans-serif;
}
p{
	font-size:14px;
	color:#959494;
}
a{
	text-decoration:none;
	color:#e4551d;
}
header{
	display:flex;
	margin:auto 3rem;
	justify-content:space-between;
	align-items:center;
	padding: 1em;
	flex:100% 1;
}
header h1{
	font-size:32px;
}
nav li{
	font-size:16px;
	display:inline;
	text-transform:uppercase;
	margin: 1rem;
	font-family:SourceSansPro-Bold, sans-serif;
}
nav a{
	color: #637f83;
	margin: 0.5rem;
}
nav a:hover{
	color: #e4551d;
}
.dark{ /* :not(#social) doesn't work, I don't understand why */
	background-color:#637f83;
	color:#fff;
}

#social{
	background-color:#fff;
	color:#637f83;
}
.fa{
	color:#e4551d;
}
.fa-long-arrow-down,footer .fa{
	color:#fff;
}
#jumbotron{
	height:520px;
	background:url('../img/wallpaper.jpg') no-repeat;
	background-size: cover;
	
}
#jumbotron h1{
	text-decoration:underline;
	font-family: Lato-Regular;
	font-size:32px;
}
#jumbotron p{
	text-transform:uppercase;
	font-family: Lato-Regular;
	font-size:16px;
	color:#fff;
}
main{
	display:flex;
	flex-direction:column;
	align-items:stretch;
	justify-content:center;
}
#content{
	background-color:#f6f6f6;
	padding:0 10%;
}
.cont-item{
	margin:auto;
	padding:30px;
	border-right:1px solid #d5d5d5;
	align-items:baseline;
}
.cont-item::after{
	
}
button{
	border:none;
	background-color:#637f83;
	color:#fff;
	border-radius:3px;
	padding:5px 9px;
}
#portfolio button{
	background-color:#e4551d;
}
.port-item{
	margin:10px;
}
hr{
	width:90%;
	border-color:#d5d5d5;
}
#row{
	padding:0 10%;
}
.row-item{
	display: inline-table;
	text-align:left;
	width:200px;
}
.row-item img{
	float:left;
    margin-right:5px;
}
.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.flex-row{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	-webkit-flex-direction:row;
	-webkit-align-items:center;
	-webkit-justify-content:center;
}
.flex-col{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	-webkit-flex-direction:column;
	-webkit-align-items:center;
	-webkit-justify-content:center;
}
/*------------------Media queries--------------------------------------------------*/
/* 960px/16px= 60em*/
@media screen and (max-width: 60em) {
	body{
		color:pink;
	}
}